<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title></title>
{% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'ckaleague/css/Tigers.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'ckaleague/css/StatusList.css'%}">
    <script type="text/javascript" language="javascript" src="{% static 'ckaleague/js/CKA.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'ckaleague/js/Tiger_Library.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'ckaleague/js/Button.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'ckaleague/js/StatusList.js' %}"></script>

</head>

<body style="background-color:#ffffff; MARGIN-TOP: 0px"  onload="PageLoad()">
<table>

<tr>
<th>Name</th>
<th>Total</th>
</tr>

<tbody>

{% for r in data %}
<tr class="{{r.club}}">
<td>{{r.name}}</td>
<td>{{r.total}}</td>
</tr>
{% endfor %}

</tbody>
</table>

</body>