.pendingDialog 
{
	display : none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

.btn {
	background : #CCCCCC;
	border-radius: 25px;
	border: 1px solid #73AD21;
    padding: 5px;
    text-align: center;
}

.date {
    width : 100px;
}

.time {
    width : 50px;
}

.userDialog {
    position : absolute;
}

tr:nth-child(even){background-color: #f2f2f2}