BODY
{
    margin:5px;
    position:absolute;
    left:0px;
    top:0px;
    background-color:white;
}
.ScorecardTitle
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    MARGIN-LEFT: 0mm;
    COLOR: black;
    FONT-FAMILY: Comic Sans MS;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: left
}
.Ink
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0mm;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
.InkBox
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0mm;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: #e0e0e0;
    TEXT-ALIGN: center
}
.InkFooter
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 7pt;
    MARGIN-LEFT: 0mm;
    COLOR: black;
    FONT-FAMILY: Tahoma;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: right
}
.Pencil
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    MARGIN-LEFT: 0mm;
    COLOR: #404040;
    FONT-FAMILY: Comic Sans MS;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
.PencilHT
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0mm;
    COLOR: #404040;
    FONT-FAMILY: Comic Sans MS;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center;
}
.PencilBox
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 0mm;
    BORDER-LEFT: black 1px solid;
    COLOR: #404040;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Comic Sans MS;
    BACKGROUND-COLOR: white;
    TEXT-ALIGN: center
}
.PencilBoxFT
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    MARGIN-LEFT: 0mm;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    FONT-FAMILY: Comic Sans MS;
    BACKGROUND-COLOR: red;
    COLOR: white;
    TEXT-ALIGN: center
}
.PencilFooter
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12pt;
    MARGIN-LEFT: 0mm;
    COLOR: #404040;
    FONT-FAMILY: Comic Sans MS;
    TEXT-ALIGN: center
}
.PencilTeams
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 14pt;
    MARGIN-LEFT: 0mm;
    COLOR: #404040;
    FONT-FAMILY: Comic Sans MS;
    TEXT-ALIGN: center
}
.PencilSigned
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12pt;
    MARGIN-LEFT: 0mm;
    COLOR: #404040;
    FONT-FAMILY: Comic Sans MS;
    TEXT-ALIGN: center
}


.Body {
    background-color: #FFFFFF;
    border: 0 none;
    font-family: tahoma;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.SmallFont {
    font-size: 8pt !important;
}
/*
.WhenFont, .NotesFont {
    font-size: 10pt !important;
}
*/
.MediumFont {
    font-size: 12pt !important;
}
.TeamFont {
    font-size: 10pt !important;
}
.LargeFont {
    font-size: 22pt !important;
    font-weight: bold;
}
.ScoreFont {
    font-size: 14pt !important;
    font-weight: bold;
}
.RowHeader {
    background-color: #E0E0E0;
    height: 20px;
    text-align: center;
}
.RowHeightDefault {
    height: 20px;
}
.TextLeft {
    text-align: left;
}
.TextCenter {
    text-align: center;
}
.TextRight {
    text-align: right;
}
.TextTop {
    vertical-align: top;
}
.TextBottom {
    vertical-align: bottom;
}
.CellBottom {
    border-bottom: 1px solid black;
}
.CellTop {
    border-top: 1px solid black;
}
.CellLeft {
    border-left: 1px solid black;
}
.CellRight {
    border-right: 1px solid black;
}
.CellAll {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.CellShade {
    background-color: #E0E0E0;
}
.CellInput {
    background-color: #FFFFFF;
    border: 0 none;
    color: #000000;
    font-size: 14pt;
    margin: 0;
    padding: 0;
    width: 100%;
}
.Footer {
    bottom: 0;
    position: absolute;
    right: 0;
}
.BigButton {
    height: 60px;
    width: 140px;
}
.dhx_combo_box {
    border: 0 none !important;
    width: 100% !important;
}
.dhx_combo_list, .dhx_combo_input {
    font-family: tahoma !important;
    text-align: left !important;
    width: 300px !important;
}
.dhx_combo_input {
    font-size: 11pt !important;
}
.dhx_combo_list {
    font-size: 8pt !important;
}
#btnSend {
    bottom: 1%;
    height: 60px;
    position: absolute;
    right: 1%;
    width: 120px;
}

